body {
  font-family: sans-serif;
  color: #f8f8f2;
  background-color: #272822;
  margin: 0;
}

header {
  background-color: #64645e;
  display: block;
}

header nav {
  height: 45px;
  padding-top: 10px;
  padding-left: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

header nav h1 {
  float: left;
  height: 100%;
  margin: 0;
}

header nav ul {
  float: left;
  margin: 0;
  padding-top: 8px;
}

header nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
}

header nav ul li a, header nav ul li a:visited {
  color: #e6db74;
  text-decoration: none;
}

section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a, a:visited {
  color: #66d9ef;
}

h2 a, h2 a:visited {
  color: #e6db74;
}

h1, h2, h3, h4, h5 {
  color: #e6db74;
}

.code {
  border-color: #49483e;
  border-width: 2px;
  border-style: solid;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}

.code pre {
  font-family: monospace;
  margin: 0;
}

.code .string {
  color: #a6e22e;
}

.code .annotation {
  color: #f92672;
}

.code .keyword {
  color: #66d9ef;
}

.code .static {
  font-style: italic;
}

.code .number {
  color: #ae81ff;
}

p.side-note {
  font-style: italic;
  font-size: small;
}

.screenshots {
  display: inline;
}

.screenshot {
  width: 70%;
}

.screenshot img {
  width: 100%;
  height: auto;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #2F3129;
}

th {
  padding: 5px;
  padding-bottom: 20px;
}

td {
  padding: 5px;
}
